main{
    overflow:auto;
    background-color: rgb(25, 15, 31)
}

body, html{
    height: 100%;
    margin: 0px;
}

body{
    background-color: rgb(25, 15, 31)
}

nav li{
    display: inline;
    margin: 20px;
}

nav ul{
    list-style-type: none;
    width: 100%;
    padding: 20px;
}

body nav a{
    color: dimgray;
    text-decoration: none;
}

body nav a:hover{
    color:rgb(172, 172, 172);
}

.hero-image{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(25,15,31,1)),url("../images/IMG_5048.JPG");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#homepage-image{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(25,15,31,1)),url("../images/IMG_5048.JPG");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text{
    color: darkgray;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-text{
    color: darkgray;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1{
    color: lightgrey;
}

#main{
    width:75%;
    float: left;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

#side{
    width:20%;
    float: right;
    height:100%;
    padding:20px;
}

#profile-image{
    width:200px;
    border-radius: 75%;
    border: 5px solid lightslategray;

}

#profile{
    text-align: center;
}

.side-article ul{
    list-style-type: none;
    padding-left: 0px;
}

#profile h2{
    display:inline;
}

#profile-details{
    margin-right: 30px;
    text-alight: center;
}

.side-article, .main-articles{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.side-article{
    background-color: darkgrey;
    text-align: center;
}

.main-articles{
    background-color: lightgrey;
}

.side-article h1{
    margin-bottom:20px;
}

footer{
    width:100%;
    background-color: dimgrey;
    margin-top: 0px;
    text-align:center;
}

footer div{
    padding-bottom:20px;
    color: rgb(43, 41, 56);
}

footer nav a{
    color: rgb(37, 36, 43);
    text-decoration: none;
}

footer  nav a:hover{
    color: rgb(172, 172, 172);
}

.ohno{
    text-align:center;
}
.ohno-image{
    padding: 5px;
    border-radius: 75%;
}

.ohno-text{
    color:lightblue;
    font-size: 20px;
}

/*Blog Posts*/

.blogposts{
    padding: 20px;
    padding: 40px;
    margin-bottom: 10px;
}

.blogimg {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: lightgrey;
    padding-left: 30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

/*About Me*/
.aboutme{
    padding: 40px;
}

#aboutme-left{
    width:35%;
    float: left;
    height: 100%;
    padding-left: 8%;
    padding-top: 20px;
    padding-bottom: 5%;
}

#aboutme-right{
    width:45%;
    float:right;
    height: 100%;
    padding-right: 8%;
    padding-top:20px;

}

#aboutme-image{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}

.aboutme-article{
    background-color: lightgrey;
    color: rgb(25, 15, 31);
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    border-radius: 10px;
}

/* Contact Me */
.contact-me{
    padding-left: 20%;
    padding-right:20%
}

.form{
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
}

#form-right{

}

#form-left{
    width:25%;
    float: left;
    height: 100%;
    padding-left: 8%;
    padding-top: 20px;
    padding-bottom: 5%;
}

form{
    margin-top: 20px;
    text-align:center;
    border-radius: 10px;
    padding: 20px;
}

textarea, input{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}